@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
}

main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile-wrapper {
    
    width: 28%;
    min-width: 280px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 30%;
    margin-top: 50px;
}

.profile-name {
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 29px;
    color: #4E5150;
    margin-top: 10px;
    text-align: center;
}

.profile-place {
    font-style: normal;
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 17px;
    color: #A9A9A9;
    text-align: center;
    margin-top: 7px;
}

.profile-info-wrapper {
    width: 100%;
    
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.profile-info {
    width: 100px;
    height: 67px;
    margin: 0 8px;
    border-radius: 16px;
    background: #E5E5E5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.info {
    color: #4E5150;
    font-style: normal;
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 22px;
    
}



.gallery-grid {
    display: grid;
    width: 68vmax;
    height: 68vmax;
    
    margin: 70px 0px;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
    grid-template-areas: 
        "item1 item2 item2"
        "item4 item4 item5"
        "item6 item7 item5"  ;

}

.item {
    
    border-radius: 15px;
    overflow: hidden
    
}

.item-1 {
    grid-area: item1;
    background: url("./assets/photo1.png");
    background-size: cover;
}

.item-2 {
    grid-area: item2;
    background: url("./assets/photo2.png");
    background-size: cover;
}

.item-4 {
    grid-area: item4;
    background: url("./assets/photo3.png");
    background-size: cover;
}

.item-5 {
    grid-area: item5;
    background: url("./assets/photo4.png");
    background-size: cover;
    
}

.item-5 img {
    width: 100%;
   
}

.item-6 {
    grid-area: item6;
    background: url("./assets/photo5.png");
    background-size: cover;
}

.item-7 {
    grid-area: item7;
    background: url("./assets/photo6.png");
    background-size: cover;
}

footer {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #A9A9A9;
    margin: 20px 0px;
}


@media only screen and (max-width: 800px) {
  

    .gallery-grid {
        
        width: 90vmin;
        height: 90vmin;
        
        
    }
  }